.accordion {
    position: absolute;
    top: 220px;
    left: 35%;
    width: 90%;
    max-width: 40rem;
    border-radius: 15px;
    background-color: white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.title h2 {
    font-size: 3rem;
}

.title img {
    width: 2rem;
}

.listItem div:first-child {
    border: none;
}