.home {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.header {
    height: 34vh;
}    



.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}